/* PIN ICON */
.pin-st0 {
  fill: #ffffff;
}

/* HOME ICON */
.home-st0 {
  fill: #929497;
}
.home-st1 {
  fill: #2196f3;
}
.home-st2 {
  fill: #1769aa;
}
.home-st3 {
  fill: #ffffff;
}

/* HOTEL ICON */
.hotel-st0 {
  fill: #929497;
}
.hotel-st1 {
  fill: #3f51b5;
}
.hotel-st2 {
  fill: #2c387e;
}
.hotel-st3 {
  fill: #ffffff;
}

/* BALLOON ICON */
.balloon-st0 {
  fill: #929497;
}
.balloon-st1 {
  fill: #e53935;
}
.balloon-st2 {
  fill: none;
}
.balloon-st3 {
  fill: #a02725;
}
.balloon-st4 {
  fill: #ffffff;
}

/* CITY ICON */
.city-st0 {
  fill: #929497;
}
.city-st1 {
  fill: #ffc107;
}
.city-st2 {
  fill: #b28704;
}
.city-st3 {
  fill: #ffffff;
}

/* FOOD ICON */
.food-st0 {
  fill: #929497;
}
.food-st1 {
  fill: #009688;
}
.food-st2 {
  fill: #00695f;
}
.food-st3 {
  fill: #ffffff;
}
